/* Global Styles */

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{

    font-family: 'Coda Caption', sans-serif;
    overflow-x: hidden;

}

a{
    text-decoration: none;
}

.navbar-brand img
{
    width:120px;
}

.navbar-brand img:hover {

    width: 150px;
    transition: all 0.5s;
}

.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5PX;
}

.navbar
{
   padding: 10; 
   height: 10vh;
   z-index: 1000;
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.nav-item {

    font-size: 25px;
    letter-spacing: 2;
    text-transform: uppercase;
    padding: 20;
    font-family: 'Coda Caption', sans-serif;
    text-decoration: none;
    
}

.nav-item:hover {

    font-size: 30px;
    transition: all 0.3s;
    text-shadow: 2px 5px rgb(0,0,0,0.25);
}


.banner
{
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 2px 20px rgb(0,0,0,0.8);
    box-shadow: 2px 10px 10px rgb(0,0,0,0.2) inset;
    z-index: 1;
}

.banner-text
{
    font-size: 36px;
    color: #fff;
    padding-left: 4%;
    padding-top: 220px;
    padding-bottom: 220px;
}
.banner-text .btn-primary
{
    background-image: linear-gradient(to right, #3636f3,#be43f1);
    border: none !important;
    box-shadow: none !important;
    font-size: 12px;
    padding: 15px 30px;
    margin-top: 10px;
}


/* hero */
.hero {

    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,1.0)),
        url("bg.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.8s;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.85);
    z-index: 900;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 45s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}

@keyframes animate{

    0%{

        background-image: url(bg.png);
        


    }
    20%{

        background-image: url(bg2.jpg);
        


    }
    40%{

        background-image: url(bg3.jpg);
        


    }
    60%{

        background-image: url(bg4.jpg);
        



    }
    80%{

        background-image: url(bg5.jpg);


    }
    100%{

        background-image: url(bg3.jpg);

    }
}

.quality {

    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-top: 2rem;

}

.title {

    font-size: 12rem;
    font-family: "Cormorant Garamond";
    color: white;
}

.go-top {

    position: fixed;
    width: 5rem;
    height: 5rem;
    background: black;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Offers */
.offers {

    width: 100%;
    background-color: #f9f9f9;
    padding-bottom: 10rem;

}

.offers h3 {

    margin-bottom: 5rem;
}

.section-title {

    text-align: center;
    font-size: 4rem;
    padding-top: 5rem;
    color: white;
    text-transform: uppercase;

}

.section-subtitle {

    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: #afafaf;
    font-weight: 300;
    position: relative;
}

.three-columns-grid {

    display: grid;
    grid-template-columns: repeat(3, 0.15fr);
    grid-gap: 5rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.subtitle {

    font-size: 20px;
    font-weight: 300;
    color: rgb(255,255,255);
    font-family: 'Coda Caption', sans-serif;
    padding: 10;
}

.subtitle:hover {

    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    transition: all 0.5s;
}

.paragraph-container {

    background-color: rgb(65, 163, 75);
    display: flex;
    border: 3px;
    border-radius: 15px;
    justify-content: center;
}

.paragraph-container:hover {

    background-color: rgb(0,0,0,0.45);
    transition: all 0.5s;
}

.paragraph {

    margin-top: 2rem;
    font-size: 12px;
    color: rgb(255,255,255);
    font-family: 'Coda Caption', sans-serif;
    text-align: center;
    cursor: pointer;
}

.paragraph:hover {

    font-size: 16px;
    transition: all 0.5s;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

.square-container {

    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 0rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.square-one {

    background-color:rgb(0,100,145);
    border 3px;
    width: 400px;
    height: 100px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;


}

.square-one:hover {

    background-color: rgba(0,100,145, 0.5);
    width: 500px;
    transition: all 0.5s;
}

.square-two {

    background-color: rgb(227,24,55);
    border: 3px;
    width: 400px;
    height: 100px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;


}

.square-two:hover {

    background-color: rgba(227,24,55,0.5);
    width: 500px;
    transition: all 0.5s;
}

.circle-middle {

    background-color: white;
    border: 3px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 5px rgba(0,0,0,0.5);
}

.square-one-text {

    color: white;
    font-weight: bold;
    font-size: 50px;
    padding: 10;
    text-shadow: 2px 6.5px rgba(0,0,0,0.5);
    font-family: 'Coda Caption', sans-serif;
}

.square-one-text:hover {

    font-size: 60px;
    padding: 5;
    transition: all 0.3s;
    
}

.square-two-text {

    color: white;
    font-weight: bold;
    font-size: 50px;
    padding: 10;
    text-shadow: 2px 6.5px rgba(0,0,0,0.5);
    font-family: 'Coda Caption', sans-serif;
}

.square-two-text:hover {

    font-size: 60px;
    padding: 5;
    transition: all 0.3s;
}

.circle-middle-text {

    color: black;
    font-weight: bold;
    font-size: 35px;
    padding: 25;
    text-shadow: 2px 6.5px rgba(0,0,0,0.2);
    font-family: 'Coda Caption', sans-serif;
}

.grid-item {

    background-color: rgba(255,255,255,0.4);
    width: 220px;
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0,0,0,0.5);

}

.grid-item:hover {

    width: 260px;
    transition: all 0.5s;

    
}

.grid-item-top {

    
    min-height: 40px;
    background-color: rgb(0,100,145);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.grid-item-top-alt {

    min-height: 40px;
    background-color: rgb(227,24,55);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.offer-image {

    width: 220px;
    height: 150px;
    border: 3px;
    cursor: pointer;

}

.offer-image:hover {

    width: 260px;
    transition: all 0.5s;

}



.top-text {

    padding: 20;
    justify-content: center;
    text-align: center;
}

.bottom-text {

    padding: 20;
    justify-content: center;
    text-align: center;
}

.top-text-text {

    color: rgb(0,100,145);
    font-weight: bold;
    font-size: 100px;
    text-shadow: 2px 6.5px rgba(0,0,0,0.5);
    font-family: 'Coda Caption', sans-serif;

}

.top-text-text:hover {

    color: rgb(227,24,55);
    transition: all 1.0s;
}

.bottom-text-text {

    color: rgb(227,24,55);
    font-weight: bold;
    font-size: 100px;
    text-shadow: 2px 6.5px rgba(0,0,0,0.5);
    font-family: 'Coda Caption', sans-serif;
}

.bottom-text-text:hover {

    color: rgb(0,100,145);
    transition: all 1.0s;
}


/* MENU PAGE CSS */

.subBar {

    background-color: rgba(227,24,55, 0.85);
    border 3px;
    width: 100vw;
    height: 7vh;
    box-shadow: 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
    top: -450px;
    z-index: 900;

}

.drop-filterbox {

    background-color: rgba(255,255,255,0.5);
    width: 300px;
    height: 50px;
    border: 3px;
    border-radius: 15px;
    position: fixed;
    left: 350px;
    top: 107.5px;

}


.drop-filterbox-text {


    padding: 10;
    font-family: 'Coda Caption', sans-serif;
    color: rgba(0,0,0,0.50);
}

.side-panel {

    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 900;
    top: 95px;
    left: 0;
    background-color: rgb(0,100,145, 0.85);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-panel a {

    text-decoration: none;
    font-size: 30px;
    color: rgb(255,255,255);
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    display: block;
    transition: 0.3s;
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;
    padding: 50;
}

.side-panel a:hover {

    color: rgba(227,24,55, 0.5);
    text-decoration: none;
}

.sidepanel .closebtn {

    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-btn {

    
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,100,145, 1.0);
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    left: 1500px;
    top: 105px;
    font-family: 'Coda Caption', sans-serif;
}

.open-btn:hover {

    background-color: #444;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    transition: all 0.3s;

}

/* FILTER MENU CSS */

.select-box-container {

    margin-top: 100px;
    padding: 32px;
    z-index: 950;
}

.select-box {

    display: flex;
    width: 400px;
    flex-direction: column;
    position: fixed;
    top: 113.5px;
    left: 300px;
}

.select-box .options-container {

    background: rgb(0,100,145);
    color: rgb(255,255,255);
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {

    background: rgba(0,100,145, 0.85);
    border-radius: 8px;
    margin-bottom: 8px;
    color: rgb(255,255,255);
    position: relative;
    font-family: 'Coda Caption', sans-serif;
    font-size: 12px;

    order: 0;
}

.selected::after {

    content: "";
    background: url(arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;

}

.select-box .options-container.active {

    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {

    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {

    width: 8px;
    background: rgb(65, 163, 75);
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {

    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {

    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {

    background: #414b57;
}

.select-box label {

    cursor: pointer;
}

.select-box .option .radio {

    display: none;
}

.filter-label {

    font-size: 16px;
    font-family: 'Coda Caption', sans-serif;

}


.fa-user-circle {

    font-size: 45px;
    cursor: pointer;


}

/* MENU ITEMS CSS */

.menu-items-container {

    z-index: 900;
    position: fixed;
}

.shopping-cart-container {

    position: fixed;
    
}

.item {

    margin: 20px;
    border: 3px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

.item-title {

    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    color: rgb(255,255,255);
    margin-bottom: 15px;
    font-family: 'Coda Caption', sans-serif;
}

.item-img {

    height: 150px;
}

.item-details {

    display: flex;
    align-items: center;
    padding: 5px;
}

.item-price {

    flex-grow: 1;
    color: rgb(255,255,255);
    font-family: 'Coda Caption', sans-serif;
    font-size: 16px;
}

.current-items {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shopping-cart-container {

    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 900;
    top: 95px;
    left: 1400px;
    background-color: rgba(255,255,255,0.85);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.shopping-cart-container a {

    text-decoration: none;
    font-size: 30px;
    color: rgb(255,255,255);
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    display: block;
    transition: 0.3s;
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;
    padding: 50;
}

.shopping-cart-container .closebtn {

    position: absolute;
    top: 0;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;

}

.open-btn-cart {

    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,100,145, 1.0);
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    left: 1750px;
    top: 105px;
    font-family: 'Coda Caption', sans-serif;
}

.open-btn-cart:hover {

    background-color: #444;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.fa-shopping-cart {

    font-size: 45px;
    cursor: pointer;
    color: rgba(255,255,255,1.0);
    padding: 10px 15px;
    border: none;
    position: fixed;
    left: 1750px;
    top: 100px;
}

.fa-shopping-cart:hover {

    color: #444;
    text-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    transition: all 0.3s;

}

.cart-header {

    font-weight: bold;
    font-size: 1.25em;
    color: rgb(255,255,255);
    font-family: 'Coda Caption', sans-serif;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

.cart-column {

    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {

    display: flex;
}

.cart-item {

    width: 45%;
}

.cart-price {

    width: 20%;
    font-size: 1.2em;
    color: rgb(255,255,255);
}

.cart-quantity {

    width: 35%;
}

.cart-item-title {

    color: rgb(255,255,255);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {

    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.cart-quantity-input {

    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: rgb(255,255,255);
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {

    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {

    border: none;
}

.cart-total {

    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.cart-total-title {

    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-right: 20px;
}

.cart-total-price {

    color: #333;
    font-size: 1.1em;
}

/* button CSS */

.btn {

    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    font-family: 'Coda Caption', sans-serif;
}

.btn-primary {

    color: white;
    background-color: rgba(0,100,145, 0.85);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.65);
}

.btn-primary:hover {

    background-color: rgba(0,0,0,0.95);
    transition: all 0.3s;
}


/* OFFERS PAGE CSS */

.location-bar-container {

    justify-content: center;
    padding: 15px;
    position: fixed;
    top: 20vh;
    text-align: center;

}

.location-search-bar-text {

    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    color: rgb(255,255,255);
    padding: 20px;

}

.location-search-bar-text-text {

    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.location-search-bar {

    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    color: rgb(0,100,145);
    padding: 10px;
    padding-bottom: 100px;
}

.search-bar {

    background-color: rgba(255,255,255,0.75);
    border: 3px;
    width: 600px;
    height: 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    text-align: center;


}

/* STORES CSS PAGE */

#map {

    height: 100%;

  }
  
#description {
    font-family: 'Coda Caption', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Coda Caption', sans-serif;
}

#pac-container {

    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {

    background-color: rgba(255,255,255,0.75);
    font-family: 'Coda Caption', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    cursor: pointer;

    }

#pac-input:focus {

    border-color: #4d90fe;
    width: 500px;
    transition: all 0.5s;

}

#pac-input:hover {

    width: 450px;
    background-color: rgba(0,100,145, 0.35);
    transition: all 0.3s;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

/* ABOUT US CSS */

.video-container {

    display: flex;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

.video {

    width: 100%;
}

.video-buttons {

    padding: 10px;
}

.video-buttons button {

    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.video-buttons button:before {

    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.c-video {

    width: 100%;
    max-width: 1080px;
    position: relative;
    overflow: hidden;


}

.c-video:hover .video-controls {

    transform: translateY(0);
}

.video-controls {

    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.7);
    transform: translateY(100%) traslateY(-5px);
    transition: all .2s;
}

.video-buttons button.play:before {

    content: '\f144';
    font-family: 'Font Awesome 5 Free';
}

.video-buttons button.pause:before {

    content: '\f28b';
    font-family: 'Font Awesome 5 Free';
}

.orange-bar {

    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
}

.orange-juice {

    height: 10px;
    background-color: rgba(255,69,0,0.5);
}


.aboutus-toptext-container {

    position: absolute;
    top: 15vh;

}

.aboutus-toptext {

    font-size: 40px;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-family: 'Coda Caption', sans-serif;
    text-shadow: 2px 5px 2px rgba(0,0,0,0.75);
}

.aboutus-item {

    background-color: rgb(0,100,145, 0.75);
    width: 1400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 15vw;
    cursor: pointer;
}

.aboutus-item:hover {

    height: 650px;
    transition: all 0.75s;
    background-color: rgb(227,24,55, 0.75);
}






